"$schema" = 'https://starship.rs/config-schema.json'

format = """
[░▒▓](#3e3e3e)\
$os\
[](bg:#212b31 fg:#3e3e3e)\
$username\
[](bg:#4b5f6d fg:#212b31)\
$directory\
[](fg:#4b5f6d bg:#4a5760)\
$git_branch\
$git_status\
[](fg:#4a5760 bg:#2b373f)\
$python\
$nodejs\
$swift\
$rust\
$golang\
$php\
$ruby\
$julia\
[](fg:#2b373f bg:#36454f)\
$time\
$battery\
[](fg:#36454f)\
$line_break$character"""

[os]
disabled = false
style = "bg:#3e3e3e fg:#00CCFF"

[os.symbols]
Alpaquita = " "
Alpine = " "
AlmaLinux = " "
Amazon = " "
Android = " "
Arch = " "
Artix = " "
CentOS = " "
Debian = " "
DragonFly = " "
Emscripten = " "
EndeavourOS = " "
Fedora = " "
FreeBSD = " "
Garuda = "󰛓 "
Gentoo = " "
HardenedBSD = "󰞌 "
Illumos = "󰈸 "
Kali = " "
Linux = " "
Mabox = " "
Macos = " "
Manjaro = " "
Mariner = " "
MidnightBSD = " "
Mint = " "
NetBSD = " "
NixOS = " "
OpenBSD = "󰈺 "
openSUSE = " "
OracleLinux = "󰌷 "
Pop = " "
Raspbian = " "
Redhat = " "
RedHatEnterprise = " "
RockyLinux = " "
Redox = "󰀘 "
Solus = "󰠳 "
SUSE = " "
Ubuntu = " "
Unknown = " "
Void = " "
Windows = "󰍲 "

[username]
show_always = true
style_user = "fg:#00CCFF bg:#212b31"
style_root = "fg:#00CCFF bg:#212b31"
format = '[ $user ]($style)'

[directory]
style = "fg:#00CCFF bg:#4b5f6d"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "

[git_branch]
symbol = ""
style = "bg:#E0AED0"
format = '[[ $symbol $branch ](fg:#00CCFF bg:#4a5760)]($style)'

[git_status]
style = "bg:#E0AED0"
format = '[[($all_status$ahead_behind )](fg:#00CCFF bg:#4a5760)]($style)'

[python]
symbol = " "
style = "bg:#AC87C5"
format = '[[ $symbol ($version) ](fg:#00CCFF bg:#2b373f)]($style)'

[nodejs]
symbol = ""
style = "bg:#AC87C5"
format = '[[ $symbol ($version) ](fg:#00CCFF bg:#2b373f)]($style)'

[rust]
symbol = ""
style = "bg:#AC87C5"
format = '[[ $symbol ($version) ](fg:#00CCFF bg:#2b373f)]($style)'

[golang]
symbol = ""
style = "bg:#AC87C5"
format = '[[ $symbol ($version) ](fg:#00CCFF bg:#2b373f)]($style)'

[php]
symbol = ""
style = "bg:#AC87C5"
format = '[[ $symbol ($version) ](fg:#00CCFF bg:#2b373f)]($style)'

[ruby]
symbol = " "
style = "bg:#AC87C5"
format = '[[ $symbol ($version) ](fg:#00CCFF bg:#2b373f)]($style)'

[julia]
symbol = ""
style = "bg:#AC87C5"
format = '[[ $symbol ($version) ](fg:#00CCFF bg:#2b373f)]($style)'

[java]
symbol = " "
style = "bg:#AC87C5"
format = '[[ $symbol ($version) ](fg:#00CCFF bg:#2b373f)]($style)'

[swift]
symbol = " "
style = "bg:#AC87C5"
format = '[[ $symbol ($version) ](fg:#00CCFF bg:#2b373f)]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "bg:#1d2230"
format = '[[✧˚·. $time ✧˚·.](fg:#00CCFF bg:#36454f)]($style)'

[battery]
disabled = false
full_symbol = '󰁹'
charging_symbol = '󰂄 '
discharging_symbol = '󰂃'
empty_symbol = '󰂎'
format = '[$symbol$percentage]($style)'

[[battery.display]]
threshold = 15
style = 'fg:#FF2400 bg:#FF3600'

[[battery.display]]
threshold = 50
style = "fg:#FFDF00 bg:#FFD300"

[[battery.display]]
threshold = 100
style = "fg:#0BFF00 bg:#36454f"

[line_break]
disabled = false

[character]
disabled = false
success_symbol = "[❯](#0BFF00)"
error_symbol = '[❯](#FF3600)'
vimcmd_symbol = '[](#00CCFF)'
